<div class="card h-100 border-0 shadow-none w-100">
  <div class="rounded-img">
    <% if boat.photo.attached? %>
      <a href="<%= boat_path(boat) %>" class="text-decoration-none">
        <%= cl_image_tag boat.photo.key, transformation: { width: 300, height: 250, crop: :fill }, class: "img-fluid boat-image" %>
      </a>
    <% else %>
      <p>No photo available</p>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-title"><%= boat.name %></p>
    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text"><%= boat.location %></p>
      <p class="card-text price-text">$<%= boat.price.to_i %>/day</p>
    </div>
  </div>
</div>


<%#
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">
				<div class="cover item-a">
					<h1>Little<br>Bonsai</h1>
					<span class="price">$79</span>
					<div class="card-back">
						<a href="#">Add to cart</a>
						<a href="#">View detail</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">
				<div class="cover item-b">
					<h1>Tropical<br>Leaf</h1>
					<span class="price">$35</span>
					<div class="card-back">
						<a href="#">Add to cart</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">
				<div class="cover item-c">
					<h1>Marijuana<br>Chill</h1>
					<span class="price">$155</span>
					<div class="card-back">
						<a href="#">Add to cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>
 %>
